 /***************
  * Global
  ***************/
 body {
     font-family: 'Exo 2', sans-serif;
     background: #DDD;
 }
 h1,
 h2 {
     margin-top: 0;
     margin-bottom: .1em;
 }
 h3,
 h4,
 h5 {
     margin-top: 0em;
     margin-bottom: .5em;
 }
 p {
     margin-bottom: 1em;
 }
 .navbar-nav>li>a {
     font-size: 1.3em;
 }
 /***************
  * Header Footer
  ***************/
 header {
     padding: 10px 0 10px 0;
     background-color: #000;
 }
 .profile-image {
     display: block;
     border: 3px solid #BBB;
     margin: 20px auto 20px auto;
 }
 header h1 {
     font-family: 'Bitter', sans-serif;
     font-size: 2.8em;
     margin-top: 1.2em;
     margin-bottom: 0em;
     color: #BBB;
     letter-spacing: .1em;
 }
 header h2 {
     font-size: 1.1em;
     margin-top: 0;
     margin-bottom: 1em;
     color: #888;
 }
 .global-social .fa {
     font-size: 2.5em;
     color: #888;
 }
 .global-social .fa-google-plus-square:hover,
 .global-social .fa-youtube-play:hover {
     color: #DE4c39;
 }
 .global-social .fa-linkedin-square:hover {
     color: #0477B5;
 }
 .global-social .fa-twitter:hover {
     color: #54ADF0;
 }
 .global-social .fa-github:hover {
     color: #eee;
 }
 .global-social .fa-instagram:hover {
     color: #B8663A;
 }
 .global-social .fa-soundcloud:hover {
     color: #FF3B00;
 }
 footer {
     display: block;
     padding: 20px 0 20px 0;
     font-size: 1.3em;
     background: #000;
     color: #BBB;
     font-family: 'Bitter', sans-serif;
 }
 @media (max-width: 767px) {
     header h1 {
         margin-top: 0em;
     }
     header .profile {
         text-align: center;
     }
 }
 /***************
  * Content
  ***************/
 .main-section {
     margin-top: 30px;
 }
 .affix-top {
     width: 100%;
 }
 .affix {
     width: 25%;
     top: 20px;
 }
 article,
 sidebar {
     display: block;
     background-color: #f0f0f0;
     border: 1px solid #888;
     padding: 20px;
     border-radius: 6px;
     margin-bottom: 20px;
 }
 sidebar .list-group {
     margin-bottom: 0px;
     border 0;
     box-shadow: 0 0 0;
 }
 sidebar .list-group-item {
     border: 0px;
     background: none;
 }